@import "./_variables.scss";
@import "../scss/timeline.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $light-text;
  font-size: 12px;
  /* //background-color: #e1e2e1; */
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

#sidebar {
  background-color: $primary-color;
  flex-direction: column;

  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: $dark-text;
  position: fixed;
  width: 250px;
  max-width: 250px;
  height: 100vh;
  transition: all 0.3s;
}

a {
  color: $primary-light;
}

p {
  font-size: 1.1em;
}

#content {
  padding: 20px;
}

@media (min-width: 768px) {
  #content {
    margin-left: 250px;
    padding: 20px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.modal {
  color: $light-text;
  position: fixed;
  width: 96%;
  height: 96%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
}

.modal-body {
  background-color: #fff;
  color: #000;
  overflow-y: scroll;
}

.modal-body p,
.modal-body h5 {
  background-color: #fff;
  color: #000;
}

.modal-content {
  width: 100%;
  height: 100%;
  border: none;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.modal-header {
  width: 100%;
}

.modal-header > button {
  color: rgb(255, 255, 255);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.wrapper {
  display: flex;
  width: 100%;
  align-content: stretch;
}

.navbar {
  padding: 0;
}

.navbar,
.list-group {
  background-color: transparent;
}

#sidebar.active {
  margin-left: -350px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.7em;
  color: $light-text;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.sidebar-header {
  padding: 20px;
  background: $primary-light;
  width: 100%;
  text-align: right;
  color: #000;
  font-size: 0.9rem;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: $primary-dark;
  color: $light-text;
  transition: all 0.3s;
}

#sidebar a {
  color: $light-text;
  /* padding: 5px 20px; */
}

#sidebar .profilepic {
  padding: 5px 10px;
}

#sidebar .secondary {
  font-size: 0.9em;
}

#sidebar .list-group-item {
  text-align: right;
  background: transparent;
}

#sidebar a.list-group-item {
  text-align: right;
  opacity: 0.8;
}

#sidebar a.list-group-item:hover {
  opacity: 1;
}

#sidebar .nav-item {
  text-align: right;
}

#sidebar .nav-item > a {
  text-align: right;
  opacity: 0.8;
}

#sidebar .nav-link:hover {
  opacity: 1;
}

#sidebar .nav-item > a:active,
#sidebar .nav-item > a.active,
#sidebar .nav-item > a.is-current,
#sidebar a.list-group-item.active,
a[aria-expanded="true"] {
  color: #fff;
  background: $primary-color;
  opacity: 1;
}

/* #sidebar .sidebar-header .media-body {
  padding: 8px 10px;
} */

#sidebar h5 {
  font-weight: 400;
}

#sidebar ul.components {
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: $light-text;
  padding: 10px;
}

#sidebar ul li a {
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  opacity: 1;
}

#sidebar .social-media {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: $primary-color;
}

.card-image:hover > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
}

.card-image:hover .icon {
  visibility: visible;
}

.card-body,
.card-text {
  color: #000;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}

.icon > i {
  color: $primary-light;
  padding: 10px 0;
}

.icon > svg {
  color: $primary-light;

  height: 2em;
  width: 2em;
}

.row.padding-lg > [class*=" col"] {
  padding-left: 40px;
  padding-right: 40px;
}

a {
  text-decoration: none;
}

.screenshot-spacing {
  // padding: 50px 20px;
  margin-bottom: 120px;
}

.carousel-caption {
  bottom: 0;
  top: 0;
  margin-top: -10px;
  font-weight: bold;
  font-size: 1.4em;
}

ol.carousel-indicators {
  bottom: 0;
  position: relative;
  justify-content: initial;
  width: 80%;
}

ol.carousel-indicators > li {
  background-color: #fff;
  width: inherit;
  height: 80px;
}

ol.carousel-indicators > li.active {
  background-color: #000;
}

.carousel-inner {
  max-height: 68vh;
  overflow: hidden;
}
.carousel-inner img {
  object-fit: contain;
}

button.close:hover {
  color: #fff;
}

.modal-footer {
  display: initial;
}

.modal-footer .carousel-item {
  max-width: 120px;
  height: 80px;
}

#carouselThumbnailControls {
  width: 100%;
}

.thumbnail {
  position: relative;
  min-width: 130px;
  height: 100%;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

footer {
  padding: 200px 0;
  padding-bottom: 160px;
}

mark {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.bd-footer {
  font-size: 0.875rem;
  text-align: center;
  // background-color: #f7f7f7;
}
.bd-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;
}

.Toastify__toast {
  font-family: inherit;
  font-size: 1.3em;
}

.Toastify__toast-body {
  padding: 20px;
}

.Toastify__toast-container {
  //width: 100%;
  width: initial;
}

// .Toastify__toast-container {
//   width: 320px;
// }
// .Toastify__toast--default {
//   background: #fff;
//   color: #aaa;
// }
// .Toastify__toast--info {
//   background: #3498db;
// }
// .Toastify__toast--success {
//   background: #07bc0c;
// }
// .Toastify__toast--warning {
//   background: #f1c40f;
// }
// .Toastify__toast--error {
//   background: #d33242;
//   color: #fff;
// }
